# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
env.bak/
venv.bak/

# Django
db.sqlite3
*.log
static/
media/
staticfiles/

# System
.DS_Store
Thumbs.db

# Idea / Editor
.vscode/
.idea/
